body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

  width: 300px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: antiquewhite;
}
.description {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.stats {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.label {
  color: rgb(74, 72, 72);
  display: flex;
  margin-bottom: 5px;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
